:root {
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
body {
    font-family: "Quicksand", sans-serif;
    margin: 0;
}
.login {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}
.logo {
    width: 150px;
    justify-self: center;
    margin-bottom: 10px;
    display: none;
}
.title {
    font-size: var(--lg);
    text-align: center;
    margin-bottom: 10px;
}
.form {
    display: flex;
    flex-direction: column;
}
.label {
    font-size: var(--sd);
    font-weight: 700;
    margin-bottom: 4px;
}
.input {
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    color: var(--white);
    width: 100%;
    font-size: var(--md);
    height: 30px;
    padding: 6px;
    margin-bottom: 8px;
}
.primary_button {
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}
.login_button {
    color: var(--white);
    background-color: var(--hospital-green);
    border: none;
}
.forget {
    text-align: center;
    color: var(--hospital-green);
}
.sing-up {
    color: var(--hospital-green);
    background-color: var(--white);
    border: solid var(--hospital-green);
    margin-top: 50px;
}
@media (max-width: 640px) {
    .logo {
        display: block;
    }
    .sing-up {
        margin-top: 200px;
    }
}